<footer class="footer h-card" role="contentinfo">
    <div class="footer__inner container">
        <p class="footer__item">
            <strong>&copy; 2023&ndash;{{ build.timestamp | dateToFormat('yyyy') }}</strong><br />
            <a class="p-name u-url" rel="me" href="{{ site.url }}">{{ author.name }}</a>
        </p>

        <p class="footer__item footer__item--right">
            <a href="{{ site.repo }}/tree/master/{{ page.inputPath }}" class="footer__icon" title="Edit this page on Github">
                <span class="sr-only">Edit this page on Github</span>
                {% icon "github" %}
            </a>
            <a href="{{ "/feed.xml" | url }}" class="footer__icon" title="RSS Feed">
                <span class="sr-only">RSS Feed</span>
                {% icon "feed" %}
            </a>
        </p>

    </div>
</footer>
